<div class="footer-wrapper">
	<div class="footer-title">Contact Me!</div>
	<div class="footer-content">
		If you made it this far you either enjoyed what you saw or mindlessly
		scrolled all the way to the bottom! Either way I want to thank you for
		coming to my page and checking me out! If you want to reach out don't
		hesitate and send an email my way to
		<strong>seanwalsh4118@yahoo.com</strong>! Or if emailing is not your
		thing you can check out my github or linked in which are linked in the
		top bar! I sincerely hope you have a wonderful rest of your
		day/night/eternal sleepless existence, and do check back from time to
		time, I might have something new I've created :)!
	</div>
</div>
