.footer-wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-title {
	font-weight: 600;
	font-size: 3rem;
	margin-top: 10vh;
	margin-bottom: 20vh;
}

.footer-content {
	font-weight: 400;
	font-size: 2rem;
	max-width: 50%;
}
