<div class="card-wrapper">
	<div *ngIf="Right" class="perspective-wrapper">
		<div #testDiv class="testDiv"></div>
		<div
			[@inViewRight]="isInView ? 'onScreen' : 'offScreen'"
			class="content-wrapper"
			tabindex="0"
		>
			<carousel
				[height]="carouselHeight"
				[cellsToShow]="1"
				[images]="images"
			></carousel>
			<div class="content-text">
				<div class="content-title">{{ contentTitle }}</div>
				<div class="content-about">{{ contentAbout }}</div>
				<div class="content-link">
					<a href="{{ link }}" target="_blank" class="link">Github</a>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!Right" class="perspective-wrapper-left">
		<div #testDiv class="testDiv"></div>
		<div
			[@inViewLeft]="isInView ? 'onScreen' : 'offScreen'"
			class="content-wrapper-left"
			tabindex="0"
		>
			<carousel
				[height]="carouselHeight"
				[cellsToShow]="1"
				[images]="images"
			></carousel>
			<div class="content-text">
				<div class="content-title">{{ contentTitle }}</div>
				<div class="content-about">{{ contentAbout }}</div>
				<div class="content-link">
					<a href="{{ link }}" target="_blank" class="link">Github</a>
				</div>
			</div>
		</div>
	</div>
</div>
