.card-wrapper {
	height: 80vh;
	width: 100%;
	margin-top: 30vh;
	margin-bottom: 10vh;
}

.content-wrapper {
	height: 80vh;
	width: 70vw;
	position: absolute;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	transform: rotateY(40deg) rotateZ(10deg);
	border-radius: 20px;
	display: flex;
}

.content-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
}

.content-title {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	margin-top: 2rem;
}

.content-about {
	text-align: justify;
	padding: 2rem;
	font-size: 1vw;
	max-width: 30vw;
}

.link {
	position: absolute;
	bottom: 3vh;
}

.perspective-wrapper {
	perspective: 1000px;
	margin: 15vh;
}

.content-wrapper:focus {
	transform: rotateY(0deg);
}

.content-wrapper-left {
	height: 80vh;
	width: 70vw;
	position: absolute;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	transform: rotateY(-40deg) rotateZ(-10deg);
	border-radius: 20px;
	display: flex;
}

.perspective-wrapper-left {
	perspective: 1000px;
	margin: 15vh;
}

.content-wrapper-left:focus {
	transform: rotateY(0deg);
}

.testDiv {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
}

carousel {
	margin: 5vh;
	width: 35vw;
}
