.main-card-wrapper {
	width: 100%;
	height: 87vh;
	display: flex;
	position: absolute;
}

.main-card-placeholder {
	width: 100%;
	height: 87vh;
	display: flex;
}

.about-me-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.about-me-title {
	font-weight: 500;
	font-size: 3rem;
	padding-top: 15vh;
	padding-bottom: 10vh;
}

.about-me-content {
	max-width: 40vw;
	text-align: justify;
	font-size: 1.5rem;
}

.about-me-conclusion {
	max-width: 45vw;
	text-align: justify;
	font-size: 1.3;
	padding-top: 10vh;
	color: rgba(0, 0, 0, 0.5);
}

img {
	width: 40vh;
	height: 40vh;
	border-radius: 1000px;
	border: 4px solid black;
}

.img-wrapper {
	display: flex;
	align-items: center;
	margin-left: 13vw;
}
