<div class="main-card-placeholder">
	<div @inView *ngIf="pageLoaded" class="main-card-wrapper">
		<div class="img-wrapper">
			<img src="/assets/img/CoverPhoto.jpg" alt="" />
		</div>
		<div class="about-me-wrapper">
			<div class="about-me-title">About Me</div>
			<div class="about-me-content">
				Hi there I'm Sean! Thanks for taking the time out of your day to
				check out my web page and what I'm all about. If you don't know
				me already let me take a second to introduce myself. I'm a
				software developer based in Houston, Texas who is familiar with
				many disciplines within the development space, including but not
				limited to, application, game, and web development, as well as
				experience with AI, data science, and HPC. I recently graduated
				from the University of Houston (May, 2021) and have been
				continuously learning since then trying to soak up as much
				knowledge as I possibly can!
			</div>
			<div class="about-me-conclusion">
				Scroll down to take a look at some of the projects I've enjoyed
				the most! Or don't, ya know, it's your life.
			</div>
		</div>
	</div>
</div>
