.main-card-wrapper {
	width: 100%;
	height: 90vh;
	display: flex;
	position: absolute;
	bottom: 100%;
}

.main-card-placeholder {
	width: 100%;
	height: 90vh;
}

.about-me-wrapper {
	width: 100%;
	height: 100%;
}

img {
	width: 40vh;
	height: 40vh;
}
